.card {
  height: 100%; /* Adjust the height as needed */
  display: flex;
  flex-direction: column;
}

.card img {
  flex-grow: 1;
  object-fit: cover; /* Ensure the image covers the entire container */
}
