
html, body {
    height: 100%;
    margin: 0;
}


.mr-3{
    color: aliceblue;
}

footer {
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* Added background color for better visibility*/ 
}
@media only screen and (maz-width:620px){

}
.AnimalHouse {
    color: rgb(246, 251, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 1.5vh 4vh ;
}

.header-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.field {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.field tr {
    
    margin-bottom: 20px;
}

.field td {
    padding-bottom: 10vh;
    padding-top: 5vh;
    margin: 25vh;
}

.field img {
    display: block;
    width: 30vh;
    height: 25vh;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    margin: 3vh;
    border-radius: 5px;
    box-shadow: 0px 5px 10px;
}

.animals {
    display: flex;
    justify-content: center;
}
.intoParagraph{

    display: flex;
    color: rgb(0, 0, 0);
    position: relative;
    justify-content: center;
    text-align: center;
    height: auto;
    width: 100%;

}
.into{
    display: flex;
    justify-content: center;
    width:30em;
    font-size: 20pt;
    line-height: 1.8em;
    padding: 17vh 5vh;
    text-align: center;
    margin: 0vh 10vh;

}
.chicken1{
    display: flex;
    position: relative;
    width:40vh;
    height: 50vh;
    border-radius: 7px;
    align-self: center;
    

}
.nugget{
    position: absolute;
    left:3em;
    top:7em;
}
.mittens{
    position: absolute;
    right:3em;
    top:7em;
}
.adoptNow{
    display: flex;
    position: absolute;
    /* right:13em; */
    bottom:0em;
    font-size: 40pt;
    background-color:rgb(121, 248, 121);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 5px 15px;
    margin-bottom:25px;
    margin-right: 18vw;
    justify-content: center;
    
}
.adoptNow a{
    color: black;
    text-decoration: none;
}
.adoptNow:hover{
    background-color: rgb(15, 182, 15);
    text-decoration: none;
}
.adoptNow a:hover{
    color: black;
    text-decoration: none;
}
.welcome{
    display: flex;
    top: 2em;
    position: relative;

    justify-content: center;
}
.adoptButton{
    position: relative;
    left:4em;
    background-color:rgb(196, 255, 196);
    border: 1px solid black;
    border-radius: 7px;
    font-size: 20pt;
    box-shadow: -1px 4px 10px;
    transition: .5s;

}
.adoptButton:hover{
    background-color: rgb(158, 255, 158);
}
.animalnames{
    position: relative;
    left: 3.5em;
}
.animalinfo{
    position: relative;
    width: 35vh;
    font-size: 15pt;
    text-align: center;
}