{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Animal</title>
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <link rel="icon" scr="UnitProject-U6/app/static/images/OIP__17_-removebg-preview (1).png">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    {% comment "navbar" %}{% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark position-fixed">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class='AnimalHouse'><h1>Animal House<h1></div>
          <ul class="navbar-nav">
            {% if request.user.is_staff %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url "user" %}">Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "pets" %}">Animals</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url "dash" %}">Adopt</a>
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="d-flex">
          <span class="hello-msg mr-3">Hello, {{ request.user }}!</span>
          <a class="hello-msg" href="{% url "logout" %}">Logout</a>
        </div>
      </nav>

    {% comment "content" %}{% endcomment %}
    {% block content %}{% endblock content %}

    {% comment "footer" %}{% endcomment %}
    
    <footer class="bg-dark text-white">
      
        <div class="container py-4">
          
          <div class="row">
            
            <div class="col-md">
              <h5>Contact Us</h5>
              <ul class="list-unstyled">
                <li><a href="https://www.linkedin.com/in/blair-johnson-47536927b/" target="_blank">Blair Johnson</a></li>
                <li><a href="https://www.linkedin.com/in/kayleah-daniels-29041b290/" target="_blank">Kayleah Daniels</a></li>
                <li><a href="https://www.linkedin.com/in/adrian-escudero-a5336a27b/" target="_blank">Adrian Escudero</a></li>
              </ul>
            </div>
            <div class="col-md">
              <h5>Explore</h5>
              <ul class="list-unstyled">
                {% if request.user.is_staff %}
                <li><a href="{% url "dash" %}">TBD</a></li>
                <li><a href="{% url "dash" %}">TBD</a></li>
                {% else %}
                <li><a href="{% url "dash" %}">TBD</a></li>
                <li><a href="{% url "dash" %}">TBD</a></li>
                {% endif %}
              </ul>
            </div>
            {% comment %} <div class="col-md-4">
              <h5>Follow Us</h5>
              <ul class="list-unstyled">
                <li><a href="https://facebook.com/basecampcodingacademy" target="_blank">Facebook</a></li>
                <li><a href="https://twitter.com/basecampcoding" target="_blank">Twitter</a></li>
                <li><a href="https://instagram.com/basecampcoding" target="_blank">Instagram</a></li>
            </ul>
            </div> {% endcomment %}
          </div>
          <hr />
          <p class="text-center">&copy; 2024 Animal House. All rights reserved.</p>
        </div>
      </footer>
    </body>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
