{% extends "base.html" %} {% block content %}
<br />
{% load static %} <link rel="stylesheet" href="{% static "create.css" %}">
<br /><br />
<div class="custom-container">
  <div class="custom-row">
    <div class="custom-col-md-4">
      <div class="custom-card text-center">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<br /><br /><br />
{% endblock content %}
