
{% extends "base.html" %} 
{% block content %}
{%load static%}
<header class="bg-indigo-600 text-black text-center py-10 ">
    
</header>
<center> <h1>Animals</h1> <center>
<div class='animals'>
    <table class="field">
        <tr>
        <td>
            <img src="{% static 'images/OIP (1).jpg' %}" alt="OIP Image">
        </td>
        <td>
            <img src="{% static 'images/OIP (2).jpg' %}" alt="OIP Image">

        </td>
        <td>
            <img src="{% static 'images/OIP (3).jpg' %}" alt="OIP Image">

        </td>
        </tr>
        <tr>
        <td>
            <img src="{% static 'images/OIP (4).jpg' %}" alt="OIP Image">
        </td>
        <td>
            <img src="{% static 'images/OIP (5).jpg' %}" alt="OIP Image">

        </td>
        <td>
            <img src="{% static 'images/OIP (6).jpg' %}" alt="OIP Image">

        </td>
        </tr>
    </table>
</div>

{% endblock content %}
