{% extends "base.html" %} 
{% block content %} 
{%load static%}
<center> <h1>Adopt</h1> <center>
    <div class='animals'>
        <table class="field">
            <tr>
                <td>
                    <h2 class='animalnames'>Luna</h2>
                    <img src="{% static 'images/OIP (1).jpg' %}" alt="OIP Image">
                    <p class='animalinfo'>Meet Luna, a playful and affectionate tabby kitten up for adoption. With her sleek coat and charming personality, she's ready to bring joy and warmth to a loving home. Adopt Luna for endless moments of delight and companionship.                        <p>
                    <button class='adoptButton' href="{% url "login" %}">Adopt</button>
                </td>
                <td>
                    <h2 class='animalnames'>Bella</h2>
                    <img src="{% static 'images/OIP (2).jpg' %}" alt="OIP Image">
                    <p class='animalinfo'>Bella promises to be a loyal and delightful companion. Give Bella a chance, and let her fill your home with love and purrs.<p>
                    <button class='adoptButton' href="{% url "login" %}">Adopt</button>
                </td>
                <td>
                    <h2 class='animalnames'>Daisy</h2>
                    <img src="{% static 'images/OIP (3).jpg' %}" alt="OIP Image">
                    <p class='animalinfo'>Meet Daisy, an adorable puppy full of energy and love, eagerly awaiting a forever home through adoption. Bring joy and playfulness into your life by welcoming Daisy into your family<p>
                    <button class='adoptButton' href="{% url "login" %}">Adopt</button>
                </td>
                <td>
                    <h2 class='animalnames'>Kiwi</h2>
                    <img src="{% static 'images/OIP (9).jpg' %}" alt="OIP Image">
                    <p class='animalinfo'>Kiwi, a green and lively bird, is looking for a forever home through adoption. Brighten your days with Kiwi's vibrant plumage and cheerful presence.<p>
                    <button class='adoptButton' href="{% url "login" %}">Adopt</button>
                </td>
            </tr>
            <tr>
                <td>
                    <h2 class='animalnames'>Lucy</h2>
                    <img src="{% static 'images/OIP (5).jpg' %}" alt="OIP Image">
                    <p class='animalinfo'>Meet Lucy, a sweet white puppy ready for adoption. Bring joy and warmth into your home by welcoming Lucy as your new furry family member.<p>
                    <button class='adoptButton' href="{% url "login" %}">Adopt</button>
                </td>
                <td>
                    <h2 class='animalnames'>Misty</h2>
                    <img src="{% static 'images/OIP (13).jpg' %}" alt="OIP Image">
                    <p class='animalinfo'>Misty, an elegant and affectionate cat, is seeking a loving home through adoption. Embrace the charm and companionship Misty brings into your life.<p>
                    <button class='adoptButton' href="{% url "login" %}">Adopt</button>
                </td>
                <td>
                    <h2 class='animalnames'>Tweety</h2>
                    <img src="{% static 'images/OIP (6).jpg' %}" alt="OIP Image">
                    <p class='animalinfo'>Tweety, a friendly cockatiel with a sunny disposition, is ready for adoption. Invite the cheerful melodies of Tweety into your home and enjoy the delightful company of this feathered friend.<p>
                    <button class='adoptButton' href="{% url "login" %}">Adopt</button>
                </td>
                <td>
                    <h2 class='animalnames'>Mango</h2>
                    <img src="{% static 'images/OIP (8).jpg' %}" alt="OIP Image">
                    <p class='animalinfo'>Mango, a vibrant and playful bird, is looking for a loving home through adoption. Bring the tropical charm of Mango into your life and enjoy the colorful companionship this feathered friend offers.<p>
                    <button class='adoptButton' href="{% url "login" %}">Adopt</button>
                </td>
            </tr>
            <tr>
                <td>
                    <h2 class='animalnames'>Nugget</h2>
                    <img src="{% static 'images/OIP (16).jpg' %}" alt="OIP Image">
                    <p class='animalinfo'>Nugget, the adorable baby chick with a tiny hat, is ready for adoption. Add a touch of whimsy to your home with Nugget's delightful presence and charming headgear.<p>
                    <button class='adoptButton' href="{% url "login" %}">Adopt</button>
                </td>
                <td>
                    <h2 class='animalnames'>Simba</h2>
                    <img src="{% static 'images/OIP (11).jpg' %}" alt="OIP Image">
                    <p class='animalinfo'>Simba, the slightly crazy orange cat, is looking for an adventurous and loving home through adoption. Embrace the playful antics and unique charm that Simba brings into your life.<p>

                    <button class='adoptButton' href="{% url "login" %}">Adopt</button>
                </td>
                <td>
                    <h2 class='animalnames'>Mochi</h2>
                    <img src="{% static 'images/OIP (12).jpg' %}" alt="OIP Image">
                    <p class='animalinfo'>Mochi, a lovable cat, is eagerly seeking a forever home through adoption. Welcome Mochi into your life and experience the joy of feline companionship.<p>
                    <a href="{% url "login" %}"><button class='adoptButton'>Adopt</button></a>
                </td>
                <td>
                    <h2 class='animalnames'>Charlie</h2>
                    <img src="{% static 'images/OIP (7).jpg' %}" alt="OIP Image">
                    <p class='animalinfo'>Meet Charlie, an adorable white male puppy ready for adoption. Bring joy and playfulness into your home by welcoming Charlie as your new furry family member.<p>
                    <button class='adoptButton' href="{% url "login" %}">Adopt</button>
                </td>
                </tr>
        </table>
    </div>
{% endblock content %}
