{% extends "base.html" %} 
{% block content %} 
{%load static%}
<center> <h1>Adopt</h1> <center>
    <div class='animals'>
        <table class="field">
            <tr>
                <td>
                    <h2 class='animalnames'>Luna</h2>
                    <img src="{% static 'images/OIP (1).jpg' %}" alt="OIP Image">
                    <p class='animalinfo'>info<p>
                    <button class='adoptButton' href="{% url "login" %}">Adopt</button>
                </td>
                <td>
                    <h2 class='animalnames'>Bella</h2>
                    <img src="{% static 'images/OIP (2).jpg' %}" alt="OIP Image">
                    <p class='animalinfo'>info<p>
                    <button class='adoptButton' href="{% url "login" %}">Adopt</button>
                </td>
                <td>
                    <h2 class='animalnames'>Daisy</h2>
                    <img src="{% static 'images/OIP (3).jpg' %}" alt="OIP Image">
                    <p class='animalinfo'>info<p>
                    <button class='adoptButton' href="{% url "login" %}">Adopt</button>
                </td>
                <td>
                    <h2 class='animalnames'>Kiwi</h2>
                    <img src="{% static 'images/OIP (9).jpg' %}" alt="OIP Image">
                    <p class='animalinfo'>info<p>
                    <button class='adoptButton' href="{% url "login" %}">Adopt</button>
                </td>
            </tr>
            <tr>
                <td>
                    <h2 class='animalnames'>Lucy</h2>
                    <img src="{% static 'images/OIP (5).jpg' %}" alt="OIP Image">
                    <p class='animalinfo'>info<p>
                    <button class='adoptButton' href="{% url "login" %}">Adopt</button>
                </td>
                <td>
                    <h2 class='animalnames'>Misty</h2>
                    <img src="{% static 'images/OIP (13).jpg' %}" alt="OIP Image">
                    <p class='animalinfo'>info<p>
                    <button class='adoptButton' href="{% url "login" %}">Adopt</button>
                </td>
                <td>
                    <h2 class='animalnames'>Tweety</h2>
                    <img src="{% static 'images/OIP (6).jpg' %}" alt="OIP Image">
                    <p class='animalinfo'>info<p>
                    <button class='adoptButton' href="{% url "login" %}">Adopt</button>
                </td>
                <td>
                    <h2 class='animalnames'>Mango</h2>
                    <img src="{% static 'images/OIP (8).jpg' %}" alt="OIP Image">
                    <p class='animalinfo'>info<p>
                    <button class='adoptButton' href="{% url "login" %}">Adopt</button>
                </td>
            </tr>
            <tr>
                <td>
                    <h2 class='animalnames'>Sunny</h2>
                    <img src="{% static 'images/OIP (10).jpg' %}" alt="OIP Image">
                    <p class='animalinfo'>info<p>
                    <button class='adoptButton' href="{% url "login" %}">Adopt</button>
                </td>
                <td>
                    <h2 class='animalnames'>Simba</h2>
                    <img src="{% static 'images/OIP (11).jpg' %}" alt="OIP Image">
                    <p class='animalinfo'>info<p>

                    <button class='adoptButton' href="{% url "login" %}">Adopt</button>
                </td>
                <td>
                    <h2 class='animalnames'>Mochi</h2>
                    <img src="{% static 'images/OIP (12).jpg' %}" alt="OIP Image">
                    <p class='animalinfo'>info<p>
                    <a href="{% url "login" %}"><button class='adoptButton'>Adopt</button></a>
                </td>
                <td>
                    <h2 class='animalnames'>Charlie</h2>
                    <img src="{% static 'images/OIP (7).jpg' %}" alt="OIP Image">
                    <p class='animalinfo'>info<p>
                    <button class='adoptButton' href="{% url "login" %}">Adopt</button>
                </td>
                </tr>
        </table>
    </div>
{% endblock content %}
